<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<notifications newPostNotificationTemplateId="0cbe810a-302f-6d0a-ae33-ff000069ff7d" newThreadNotificationTemplateId="0dbe810a-302f-6d0a-ae33-ff000069ff7d" />
</forumsConfig>