


@*<sf-list-selector sf-event-selector sf-selected-item="selectedItem" sf-selected-item-id="properties.selectedId.PropertyValue" sf-provider="provider" />*@

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

@Html.QueryBuilderScriptReferences()


    
      
   
    
     <p>Please select an event to display on page</p> 

<sf-list-selector sf-event-selector sf-selected-item="selectedItem" sf-selected-item-id="selectedId" sf-provider="properties.ProviderName.PropertyValue" />
       

    